body {
    background: url(/resources/app/background/Uniswapia_3.gif) no-repeat -6vw,
    url(/resources/app/background/Uniswapia_2.gif) no-repeat 72vw;
    background-size: 65vh;
    background-attachment: fixed;
}

@media (max-width: 1024px) {
    body {
        background: url(/resources/app/background/Uniswapia_3.gif) no-repeat -6vw;
        background-size: 65vh;
        background-attachment: fixed;
        background-position: center;
    }
}
